# Virtual Environment
venv/
backend/venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Chroma / Vector DB
chroma/

# Uploads
uploads/

# Node
SUPPORT-PORTAL-FRONTEND/node_modules/
SUPPORT-PORTAL-FRONTEND/dist/